<div class="auth-main">
    <div class="auth-block">

        <h1>Please enter relative APK information</h1>

        <a routerLink="/pages" class="auth-link">Want to edit your future app? Go back!</a>

        <form [formGroup]="form" class="form-horizontal">

            <div class="form-group row"
                 [ngClass]="{'has-error': (!keyPassword.valid && keyPassword.touched), 'has-success': (keyPassword.valid && keyPassword.touched)}">
                <label for="keystore-password" style="color: #ffffff;">Enter keystore password</label>
                <input [formControl]="keyPassword" type="text" class="form-control" id="keystore-password"
                       placeholder="key password">
                <span *ngIf="(!keyPassword.valid && keyPassword.touched)">Key password is invalid</span>

            </div>

            <div class="form-group row"
                 [ngClass]="{'has-error': (!name.valid && name.touched), 'has-success': (name.valid && name.touched)}">
                <label for="authorsName" style="color: #ffffff;">What is your first and last name</label>
                <input [formControl]="authorsName" type="text" class="form-control" id="authorsName"
                       placeholder="Enter first and last name">
                <span *ngIf="(!name.valid && name.touched)">Name is invalid</span>
            </div>


            <div class="form-group row"
                 [ngClass]="{'has-error': (!organizationalUnit.valid && organizationalUnit.touched), 'has-success': (organizationalUnit.organizationalUnit && name.touched)}">
                <label for="organizationalUnit" style="color: #ffffff;">What is the name of your organizational
                    unit</label>
                <input [formControl]="organizationalUnit" type="text" class="form-control" id="organizationalUnit"
                       placeholder="Organizational Unit Name">
                <span *ngIf="(!organizationalUnit.valid && organizationalUnit.touched)">organizational unit name is invalid</span>
            </div>

            <div class="form-group row"
                 [ngClass]="{'has-error': (!organizationName.valid && organizationName.touched), 'has-success': (organizationName.valid && organizationName.touched)}">
                <label for="organizationName" style="color: #ffffff;">What is the name of your organization?</label>
                <input [formControl]="organizationName" type="text" class="form-control" id="organizationName"
                       placeholder="Organization's Name">
                <span *ngIf="(!organizationName.valid && organizationName.touched)">Organization name is invalid</span>
            </div>

            <div class="form-group row"
                 [ngClass]="{'has-error': (!cityName.valid && name.touched), 'has-success': (cityName.valid && cityName.touched)}">
                <label for="cityName" style="color: #ffffff;">What is the name of your City or Locality</label>
                <input [formControl]="cityName" type="text" class="form-control" id="cityName"
                       placeholder="Enter">
                <span *ngIf="(!cityName.valid && cityName.touched)">City/Locality Name is invalid</span>
            </div>
            <div class="form-group row"
                 [ngClass]="{'has-error': (!stateName.valid && stateName.touched), 'has-success': (stateName.valid && stateName.touched)}">
                <label for="stateName" style="color: #ffffff;">What is the name of your State or Province</label>
                <input [formControl]="name" type="text" class="form-control" id="stateName"
                       placeholder="State/Province name">
                <span *ngIf="(!stateName.valid && stateName.touched)">State/Province name is invalid</span>
            </div>

            <div class="form-group row"
                 [ngClass]="{'has-error': (!countryCode.valid && countryCode.touched), 'has-success': (countryCode.valid && countryCode.touched)}">
                <label for="countryCode" style="color: #ffffff;">What is the two-letter country code for this
                    unit</label>
                <input [formControl]="name" type="text" class="form-control" id="countryCode"
                       placeholder="Country code ">
                <span *ngIf="(!countryCode.valid && countryCode.touched)">Country code is invalid</span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

</div>
