
/.idea/
/client/dist/
/client/node_modules/
/server/node_modules/
/ionic-templates/1/.tmp/
/ionic-templates/1/www/
*DS_store
/ionic-templates/1/node_modules/
/ionic-templates/1/platforms/
/ionic-templates/1/plugins/
/module/
/ionic-templates/0/www/

/ionic-templates/1/application/node_modules/
