
/.idea/
/client/dist/
/client/node_modules/
/server/node_modules/
/demo/ionic-template-2/.tmp/
/demo/ionic-template-2/www/
*DS_store
/demo/ionic-template-2/node_modules/
/demo/ionic-template-2/platforms/
/demo/ionic-template-2/plugins/
/module/
/demo/ionic-template-1/www/

