.carousel-container {
  display: flex;
  margin: 0 auto;
  ba-card {
    top: 80px;
    display: flex;
    margin: 0 auto;
  }
  .card-body {
    padding: 0 0;
  }

  .card > .card-body {
    padding: 0 0;
    height: 100%;
  }
  .carousel-indicators {
    top: 1.5rem;
    right: 1.5rem;
    bottom: auto;
    left: auto;
    width: 1rem;
    margin-left: 0;
  }

  .carousel-indicators > li {
    margin-bottom: .25rem;
  }
}

.marketing-container {
  margin-top: 7em;

  /* styles for browsers larger than 960px; */
  @media only screen and (min-width: 992px) {
    width: 100%;
    max-width: 100%;
    padding-left: 2em;
    padding-right: 2em;
  }
  /* styles for browsers larger than 1440px; */
  @media only screen and (min-width: 1200px) {
    width: 100%;
    max-width: 100%;
    padding-left: 3em;
    padding-right: 3em;
  }

  .row > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
  }

  .card {
    width: 100%;
    &:hover {
      cursor: pointer;
    }
  }
}