<div [@slideInOut]="menuState" class="container">

    <button (click)="slideOut()" id="collapse">collapse</button>
    <button (click)="goToEditor()" id="edit">Edit</button>

    <div class="profile-container" *ngIf="loadProfile">
        <div *ngIf="loadFrames" class="marvel-device iphone6 black">
            <div class="top-bar"></div>
            <div class="sleep"></div>
            <div class="volume"></div>
            <div class="camera"></div>
            <div class="sensor"></div>
            <div class="speaker"></div>

            <div id="application-carousel" class="carousel slide carousel-container"
                 data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div *ngFor="let screenshot of screenshots; let i = index" class="carousel-item"
                         [class.active]="i === 0">
                        <img [src]="screenshot" alt="slide">
                    </div>

                </div>
                <a class="left carousel-control" href="#application-carousel" role="button" data-slide="prev">
                    <span class="icon-prev" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#application-carousel" role="button" data-slide="next">
                    <span class="icon-next" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="home"></div>
            <div class="bottom-bar"></div>
        </div>

    </div>

    <ba-card *ngIf="loadProfile" class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 row"
             [title]="applicationInfo['title']">
        <div>
            <p [innerHTML]="applicationInfo['description']"></p>
        </div>
    </ba-card>
</div>
