<div class="card-container">
    <div>
        <json-editor [options]="editorOptions" [data]="data"></json-editor >
    </div>
    <!--<ul class="list-group">-->
        <!--&lt;!&ndash; DISPLAY INFORMATION REGARDING THE MENU PAGE &ndash;&gt;-->
        <!--<li class="list-group-item">-->
            <!--<h3>Menu Page</h3>-->
            <!--<label for="MPageTitle"><h4>Title :</h4></label>-->
            <!--<input type="text" class="form-control" placeholder="Enter Page name" id="MPageTitle">-->
            <!--<div *ngFor="let c of Mcards">-->
                <!--&lt;!&ndash; displaying cards list with all the cards' subdivisions&ndash;&gt;-->
                <!--<label [attr.for]="c.name + 'Card'">Item Card :</label>-->
                <!--<input type="text" class="form-control" placeholder="Enter item name" [attr.id]="c.name + 'Card'">-->
                <!--<input type="text" class="form-control" placeholder="Enter item photo" [attr.id]="c.image + 'Card'">-->
                <!--<input type="text" class="form-control" placeholder="Enter item description"-->
                       <!--[attr.id]="c.description + 'Card'">-->
            <!--</div>-->
        <!--</li>-->

        <!--&lt;!&ndash; DISPLAY INFORMATION REGARDING THE FEEDBACK PAGE &ndash;&gt;-->
        <!--<li class="list-group-item">-->
            <!--<h3>FeedBack Page</h3>-->
            <!--<label for="FBPageTitle"><h4>Title :</h4></label>-->
            <!--<input type="text" class="form-control" placeholder="Enter Page name" id="FBPageTitle">-->
            <!--<div *ngFor="let f of FBinputList">-->
                <!--&lt;!&ndash; displaying fields list &ndash;&gt;-->
                <!--<label [attr.for]="f.input + 'Field'">Input Field :</label>-->
                <!--<input type="text" class="form-control" placeholder="Enter Field type" [attr.id]="f.input + 'Field'">-->
            <!--</div>-->
            <!--<div *ngFor="let btn of FBbuttonList">-->
                <!--&lt;!&ndash; displaying buttons list &ndash;&gt;-->
                <!--<label [attr.for]="btn.value + 'button'">{{btn.value}} button:</label>-->
                <!--<input type="text" class="form-control" [attr.placeholder]="'Enter '+ btn.value + ' button value'"-->
                       <!--[attr.id]="btn.value + 'button'">-->
            <!--</div>-->
        <!--</li>-->

        <!--&lt;!&ndash; DISPLAY INFORMATION REGARDING THE ABOUT US PAGE &ndash;&gt;-->
        <!--<li class="list-group-item">-->
            <!--<h3>About-us Page</h3>-->
            <!--<label for="AUPageTitle"><h4>Title :</h4></label>-->
            <!--<input type="text" class="form-control" placeholder="Enter Page name" id="AUPageTitle">-->
            <!--<h4><b>Page Content:</b></h4>-->
            <!--<div *ngFor="let AUK of AUKEYS">-->
                <!--<label [attr.for]="AUK">{{AUK}} :</label>-->
                <!--<input type="text" class="form-control" [attr.placeholder]="'Enter '+ AUK" [attr.id]="AUK">-->
            <!--</div>-->
        <!--</li>-->
    <!--</ul>-->

    <button type="button" class="btn btn-primary" (click)="setTreeMode()">Save Changes</button>
</div>
