html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

//span.active {
//  background-color: gray;
//}

.container {
  width: 100%;
}

//.toggle-children {
//  display: none;
//}

ion-frame {
  float: right;
}



.tree-node {
  margin: 7px;
  padding: 7px;
  border: 1px solid #ffffff;
}

.node-content-wrapper {
  color: #000 !important;
}
