html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

//span.active {
//  background-color: gray;
//}

.container {
  width: 100%;
}

//.toggle-children {
//  display: none;
//}

ion-frame {
  float: right;
}

.node-content-wrapper {
  color: #000 !important;
}
