<div *ngIf="finishedLoading" class="container">

    <Tree #tree [nodes]="nodes">

        <template #treeNodeTemplate let-node>

            <label [id]="node.data.id">
                {{ node.data.name }}
                <!--<span *ngIf="!node.isLeaf">( {{node.data.type.trim()}} )</span>-->
            </label>

            <input type="text" (focus)="clearPlaceholder($event)" *ngIf="node.isLeaf"/>

            <button class="btn btn-default" (click)="removeInstance(node)"
                    *ngIf="( isInArray(node) && (node.parent.children.length > 1) )">
                Remove Instance
            </button>
            <button class="btn btn-default" (click)="addInstance(node)"
                    *ngIf="( ( node.data.type.includes('array') ) && !( node.displayField.includes('authors') ) && !( node.displayField.includes('page') )  || ( (!node.isLeaf) &&  (node.displayField.indexOf('instances') !== -1) && !(node.displayField == 'page') && !(node.displayField == 'default-instance') )  )">
                Add Instance
            </button>
            <button class="btn btn-default" (click)="save($event, node)" *ngIf="node.isLeaf">save</button>

        </template>

    </Tree>
    <ion-frame></ion-frame>

    <button (click)="goToApkForm()" class="btn btn-primary">Download as APK</button>

</div>