e
/www/assets/
/www/index.html
/www/manifest.json
/www/build/main.css
/www/build/main.js
/www/build/polyfills.js

/www/service-worker.js
/.tmp/
/node_modules/
/platforms/
/plugins/
/application/resources/
e